[submodule "2 - Ranges/range-v3"]
	path = 2 - Ranges/range-v3
	url = https://github.com/ericniebler/range-v3
[submodule "4 - Coroutines/coro"]
	path = 4 - Coroutines/coro
	url = https://github.com/Quuxplusone/coro
[submodule "4 - Coroutines/coroutine"]
	path = 4 - Coroutines/coroutine
	url = https://github.com/luncliff/coroutine
[submodule "5 - Format/fmt"]
	path = 5 - Format/fmt
	url = https://github.com/fmtlib/fmt
[submodule "6 - Core & Library Features/date"]
	path = 6 - Core & Library Features/date
	url = https://github.com/HowardHinnant/date
