[submodule "2 - Ranges/range-v3"]
	path = 2 - Ranges/range-v3
	url = https://github.com/ericniebler/range-v3
[submodule "4 - Coroutines/coro"]
	path = 4 - Coroutines/coro
	url = https://github.com/Quuxplusone/coro
